<!DOCTYPE html>
<html>
<head>{% block head %}
	<title>{% block title %}{% endblock %} - CertCollections</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/jpg" href="{{url_for('static',filename='img/logo.png')}}">
	<!-- semantic css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Semantic-UI-CSS-master/semantic.min.css') }}">{% endblock %}
	<style type="text/css" media="screen">
		.main{
			margin-top:4em;
		}	
	</style>
	{% block addcss %}{% endblock %}	
</head>

<body class='website_body'>

<!-- Header -->
{% include 'header.html' %}
	
<div class="ui main fluid">
	{% block content %}
	{% endblock %}
</div>

<!-- Footer -->
{% include 'footer.html' %}
</body>

<!-- jquery -->
	<script type="text/javascript" src="{{ url_for('static',filename='jquery/jquery.js') }}"></script>
<!-- semantic js -->
	<script type="text/javascript" src="{{ url_for('static',filename='Semantic-UI-CSS-master/semantic.min.js') }}"></script>
<!-- additional js -->
	{% block addjs %}{% endblock %}
</html>